
:root {
	--logo1: "M 34.013933,11.0366731 C 28.192738,14.095027 22.371544,17.153382 16.550349,20.211736 8.584872,24.362874 5.526529,34.115264 9.71889,41.998264 12.5367,47.297134 17.918044,50.396674 23.560521,50.602914 21.377296,51.750654 19.194071,52.898394 17.010846,54.046134 9.04534,58.197274 5.986998,67.949634 10.179361,75.832644 14.371722,83.715664 24.23407,86.739672 32.199549,82.588544 43.841926,76.471824 55.484302,70.355104 67.126679,64.238384 75.099049,60.087264 78.150539,50.334884 73.958169,42.451854 71.140359,37.152984 65.758998,34.053464 60.116518,33.847234 62.299748,32.699494 64.482979,31.551754 66.666209,30.404014 74.631689,26.252864 77.690059,16.500486 73.497699,8.617466 69.305339,0.73446 59.442998,-2.289507 51.477518,1.86161 45.656323,4.9199643 39.835128,7.9783187 34.013933,11.036673 Z M 32.625652,29.228744 53.766128,42.280054 32.625652,55.269484 Z";
	--logo2: "M 41.021756,13.938944 C 28.206156,13.909141 14.959046,14.398406 8.7897418,15.685703 5.3025458,16.628746 2.5724608,19.34847 1.6397768,22.835667 0.75762832,26.705876 0.21557337,32.452699 0.05241689,38.525075 -0.01334768,40.972707 -0.01755232,43.473233 0.04234423,45.925075 0.18996724,51.967965 0.72696751,57.715131 1.6913908,61.645854 2.6344378,65.133049 5.3541598,67.864148 8.8413548,68.79683 18.116363,70.931636 62.211576,71.232167 72.056536,68.79683 75.543746,67.853785 78.274836,65.133049 79.207516,61.645854 80.137616,57.476455 80.711299,51.824786 80.891038,45.925075 80.965781,43.471717 80.972401,40.975465 80.908199,38.525075 80.752644,32.588062 80.181338,26.920267 79.155896,22.784054 78.212856,19.296856 75.446104,16.723408 72.004936,15.633077 69.46208,14.827375 55.546116,13.972722 41.021756,13.938944 Z M 32.624979,30.089869 53.766206,42.214954 32.624979,54.340037 Z";
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, serif
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f8f8f8;
}

#content > *:not(:last-child) {
	margin: 0 0 2rem 0;
}

.search-container {
	display: flex;
	align-items: center;

	width: 720px;
	padding: 0 0 0 10px;
	border: 1px solid #ccc;
	border-radius: 9999px;
	background-color: #fff;

	box-shadow: inset 0 1px 2px #eee;
}

#search {
	flex: 1;
	padding: 5px;
	border: none;
	font-size: 16px;
}

#search:focus {
	outline:0 none transparent;
}

#search-icon {
	padding: 8px 15px;
	border: none;
	font-size: 16px;
	border-radius: 0 999px 999px 0;
	cursor: pointer;
	background: #f7f7f7;
}

#search-icon:hover {
	background: #f0f0f0
}

#search-icon:active {
	background-color: #e9e9e9;
}

#error-message {
	color: #f00;
}

#logo path {
	animation: morph 7s ease-out infinite;
}

svg {
	fill: red;
	width: 200px;
	height: 200px;
}

@keyframes morph {
	0% {
		d: path(var(--logo1));
	}
	45% {
		d: path(var(--logo1));
	}
	50% {
		d: path(var(--logo2));
	}
	95% {
		d: path(var(--logo2));
	}
	100% {
		d: path(var(--logo1));
	}
}